<div class="navbar">

  <div class="navbar-nav">
    
    <div>
  <div style="display: flex; flex-direction: row; align-items: center;">
    <div class="img-logo"> </div>
    <div class="brandName" *ngIf="!displayWeb"> </div>
  </div>
  </div>

  <div style=" display: flex; justify-content: space-between; width: 100%;">
    
    <form class="form-search ml-1" #searchForm="ngForm" *ngIf="displayWeb">
      <input type="search" id="searchBar" name="searchBar" [(ngModel)]="searchProduct">
      <button type="submit" class="btn-submit"><i class="fa-solid fa-magnifying-glass"></i> </button>
      <button class="btn-close" (click)="handleClose()"><i class="fa-solid fa-xmark icon-close"></i>  </button> 
  </form>

    <div style="display: flex; flex-direction:row"> 
    <div class="nav-web ml-2"> 
      <p> SHOP ALL </p>
      <p> BRANDS </p>
      <p> OFFERS </p>
      <p> SALE </p>
   </div>

  <form class="form-search-web ml-2 " #searchForm="ngForm">
      <input type="search" id="searchBar" name="searchBar" [(ngModel)]="searchProduct" placeholder="SEARCH">
      <button type="submit" class="btn-submit-search"><i class="fa-solid fa-magnifying-glass"></i> </button>
      <button class="btn-close-search" (click)="handleClose()"><i class="fa-solid fa-xmark icon-close"></i>  </button> 
  </form>

</div>
    
    <div style="display: flex; justify-content: space-between; align-content: center;" class="ml-2 ">
      <button  class="btn-submit-web ml-1" (click)="handleSearchWeb()" *ngIf="!displayWeb"><i class="fa-solid fa-magnifying-glass"></i> </button>
      <button class="btn-bookmark ml-1"> <i class="fa-regular fa-bookmark"></i> </button>
      <button class="container-img-cart ml-1"> <div class="img-cart"> </div></button>
      <button class="btn-bars ml-1">  <i class="fa-solid fa-bars"></i> </button>
    </div>
  </div>
 </div>
</div>
