



.main-content {
    margin: 0; position: absolute; 
    top: 51px; 
    right: 0; left: 0;
    padding: 0;
}


@media only screen and (min-width: 768px) {
    .main-content {
        top: 60px;
    }
  }


  